<!-- <button (click) = "toggle()">Toggle</button>

<div *ngIf = "showAll; else noShow">

</div>
<ng-template #noShow>
    <p>Nothing to show!</p>
</ng-template>

<div [ngSwitch] = "signal">
    <div *ngSwitchCase = "'RED'">Stop</div>
    <div *ngSwitchCase = "'GREEN'">Go</div>
    <div *ngSwitchDefault>Yield</div>
</div> -->

{{status | async}}
<br>

<input type = 'text' [value] = "title" (input) = "updateTitle($event)">
<button (click) = "onAdd()">Add</button>

<app-product *ngFor = "let item of products; let i = index"
[title] = "item.title" (delete) = "onDelete($event)"></app-product>

